test.py
venv/
.venv/
dqn_highway.py
logs/

# Training artifacts
racetrack_fvi_checkpoints/
raccetrack_dqn_old/
fvi_racetrack_train.py
colabs/fvi_racetrack.ipynb
colabs/HighwayEnv
merge/merge_ppo/HighwayEnv

# Images to ignore
merge/merge_ppo/p_fail_early.png
merge/merge_ppo/p_fail_over_time.png
merge/merge_ppo/p_fail_zoomed_y.png

# Folder of original direct sampling code, ignoring it since deprecated
original_ds_run_no_delay/
plots/